# Supabase (storage only)
NEXT_PUBLIC_SUPABASE_URL=https://oqpequqhlohtjhmzbize.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9xcGVxdXFobG9odGpobXpiaXplIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM2NzcxMjMsImV4cCI6MjA4OTI1MzEyM30.7jMPrQFQx75iFvW7Ewkte4oQ9bRP0vbHAiff7G2BbnQ
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9xcGVxdXFobG9odGpobXpiaXplIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzY3NzEyMywiZXhwIjoyMDg5MjUzMTIzfQ.YsKqYWMmrxZMuZdZ0IMXTys5D1-U6kYZ3c84YYWNoVk

# NextAuth
NEXTAUTH_SECRET=your-random-secret-here
NEXTAUTH_URL=http://localhost:3000

# Database (Prisma)
# Pooled connection - for runtime queries
DATABASE_URL="postgresql://postgres.oqpequqhlohtjhmzbize:Nampally038@aws-1-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
# Direct connection - for migrations
DIRECT_URL="postgresql://postgres.oqpequqhlohtjhmzbize:Nampally038@aws-1-ap-south-1.pooler.supabase.com:5432/postgres"
# Email (Resend)
RESEND_API_KEY=re_xxx

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Cron security
CRON_SECRET=your-random-secret-here
